<div>
    <h1>Login to your account</h1>
    <form>
        <table>
            <tr>
                <td><label for="fname">User Name</label></td>
                <td><input type="text"placeholder="Username"/></td>
            </tr>
            <tr>
                <td><label for="lname">Password</label></td>
                <td><input type="password" placeholder="******"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login" class="clickable"></td>
            </tr>
            <tr>
                <td>need an account?</td>
                <td><a href="#">Sign up</a></td>
            </tr>
        </table>
    </form>
</div>
