body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}
button{
    background-color: rgb(80, 75, 75);
    border: none;
    border-radius: 20%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(50, 47, 47);
}
button:active{
    background-color: black;
}
table,div{
    text-align: center;
    float: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.display{
    text-align: center;
    float: right;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 1px solid #ddd;
    border-radius: 10%;
    visibility: hidden;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
td,tr,th{
    border-bottom: 1px solid #ddd;
    border-radius: 10%;
    padding: 15px;    
}
input{
    text-align: center;
}