<div>
    <h1>Signup</h1>
    <form class="formDiv">
        <table>
            <tr>
                <td><label for="fname">First Name</label></td>
                <td><input type="text" id="fname" placeholder="First name"/></td>
            </tr>
            <tr>
                <td><label for="lname">Last Name</label></td>
                <td><input type="text" id="lname" placeholder="Last name"/></td>
            </tr>
            <tr>
                <td><label for="email">E-mail</label></td>
                <td><input type="email" id="email" placeholder="xyz@mail.com"/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="password" placeholder="**********"/></td>
            </tr>
            <tr>
                <td><label for="phone">Phone Number</label></td>
                <td><input type="tel" id="phone" placeholder="123-45-678" /></td>
            </tr>
            <tr>
                <td><label for="dob">Date of Birth</label></td>
                <td><input type="date" id="dob"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" class="clickable"></td>
                <td><input type="reset" class="clickable"></td>
            </tr>
        </table>
    </form>
</div>
