ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(206, 201, 201);
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    color: white;
}

li a:hover:not(.active) {

    color: white;
    text-decoration: underline;
}